<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sound Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21BF1F891DBE4D42001A45E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BF1F9D1DBE4D42001A45E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BF1FA81DBE4D42001A45E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
